#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

.idea
*.*~
*~

# Windows image file caches
Thumbs.db
ehthumbs.db

# Mac crap
.DS_Store

## app config

*conf.php
